In [1]:
import sys
sys.path.insert(0, "../app/modules")
from datetime import datetime, date, time
import pandas as pd

import data

In [18]:
sp_service = data.get_data_service('VIC_old')
techs = data.format_technicians_list(sp_service.get_technicians(active='Any'))
techs

{34670286: 'Dominic Branca',
 34670287: 'Henry Gibson',
 34670288: 'Jordan Frost',
 34670289: 'Jordan Woods',
 34670290: 'Kristian Dockett',
 34670291: 'Luke Townsend',
 34670292: 'Mathew Brooks',
 34670293: 'Scott Millar',
 40910162: 'Ben VIC',
 40910294: 'Brodey Farrugia',
 40910930: 'Evan Soutar',
 40971355: 'Shaun VIC',
 40971474: 'Daniel Caruana',
 40971487: 'Elijah Thompson',
 40971602: 'Daniel Popa',
 40971614: 'Matthew VIC',
 40971735: 'Jake Xerri',
 40971858: 'Jacob Corps',
 40972114: 'Jarrod Aiello',
 40972370: 'Liam VIC',
 41010770: 'Jack Thompson',
 41011163: 'Jarrod VIC',
 41011538: 'Shaun Nowicki',
 41011794: 'Tolga VIC',
 41022930: 'Don.Test',
 41142916: 'Daniel VIC',
 41143300: 'Jack VIC',
 48440456: 'Imported Default Technician',
 60792964: 'Office Testing VIC',
 61916570: 'Nick Francis',
 85598448: 'Alex VIC',
 85849769: 'Rhys VIC',
 86056689: 'Elliot VIC',
 86056942: 'Francesco Prestinenzi',
 86156275: 'Heath VIC',
 86173105: 'Bradley VIC',
 86308001: 'Jayden VIC',
 86308269: 'Riley VIC',
 86386759: 'Aden VIC',
 86425657: 'Mitchell Gossip',
 87380671: 'Will Dower',
 87386718: 'Rylee VIC',
 87418588: 'Harrison VIC',
 87431027: 'Nicholas VIC',
 87479542: 'Kurtis Hunt',
 87517704: 'Daniel Milenkovic',
 87570634: 'Sayed Housaini',
 87585922: 'Junior VIC',
 87601214: 'Duncan VIC',
 87602549: 'Eric VIC',
 87960864: 'Contractor ',
 88942135: 'William VIC',
 88987843: 'Campbell VIC',
 88987858: 'George VIC',
 88988793: 'Kyle VIC',
 89122844: 'Ryan L Vic',
 89145610: 'Daniel C'}

In [19]:
timesheet_data = data.get_timesheets_for_tech(4356374, 'VIC_old', date(2025,10,27), date(2025,11,2))
timesheet_data['tech_name'] = timesheet_data['technicianId'].map(techs)

In [20]:
timesheet_data[timesheet_data['technicianId']==86386759]

,technicianId,arrivedDate,arrivedTime,jobId_x,doneTime,jobId_y,tech_name
54,86386759,2025-10-27,06:45:00,87237016,16:00:00,87237016,Aden VIC
55,86386759,2025-10-28,07:00:00,88967237,17:00:00,88967237,Aden VIC
56,86386759,2025-10-29,07:15:00,88967237,16:45:00,88967237,Aden VIC
57,86386759,2025-10-30,07:00:00,88967237,17:00:00,88967237,Aden VIC

In [21]:
# timesheet_data = pd.DataFrame(timesheet_data_in).sort_values(by=['arrivedOn'])
# timesheet_data['arrivedOn'] = timesheet_data['arrivedOn'].dt.round('15min')
# timesheet_data['doneOn'] = timesheet_data['doneOn'].dt.round('15min')
# timesheet_data['arrivedDate'] = timesheet_data['arrivedOn'].dt.date
# timesheet_data['arrivedTime'] = timesheet_data['arrivedOn'].dt.time
# timesheet_data['doneTime'] = timesheet_data['doneOn'].dt.time
# first_rows = timesheet_data.groupby('arrivedDate', as_index=False).first()[['arrivedDate', 'arrivedTime', 'jobId']]
# last_rows = timesheet_data.groupby('arrivedDate', as_index=False).last()[['arrivedDate', 'doneTime', 'jobId']]
# timesheet_data = pd.merge(first_rows, last_rows, on='arrivedDate')

In [22]:
# Combine start and end times into tuples
timesheet_data['times'] = list(zip(timesheet_data['arrivedTime'], timesheet_data['doneTime']))

# Ensure date column is datetime (for proper sorting)
# timesheet_data['date'] = pd.to_datetime(timesheet_data['arrivedDate'])

# Pivot so names become columns, dates become rows, and values are tuples
reshaped = (
    timesheet_data
    .pivot(index='arrivedDate', columns='tech_name', values='times')
    .sort_index(axis=0)    # sort by date
    .sort_index(axis=1)    # sort columns alphabetically by name
    .reset_index()
)

In [23]:
reshaped.columns

Index(['arrivedDate', 'Aden VIC', 'Ben VIC', 'Bradley VIC', 'Campbell VIC',
       'Daniel VIC', 'Elliot VIC', 'George VIC', 'Jack VIC', 'Jarrod VIC',
       'Junior VIC', 'Kyle VIC', 'Liam VIC', 'Matthew VIC', 'Nicholas VIC',
       'Office Testing VIC', 'Riley VIC', 'Rylee VIC', 'Shaun VIC',
       'Tolga VIC', 'Will Dower', 'William VIC'],
      dtype='object', name='tech_name')