In [1]:
import sys
sys.path.insert(0, "../app/modules")
from datetime import datetime, date, time
import pandas as pd

import data

In [2]:
# sp_service = data.get_data_service('NSW')
# techs = data.format_technicians_list(sp_service.get_technicians())
# techs

In [30]:
timesheet_data_in = data.get_timesheets_for_tech(4356374, 'NSW', date(2025,10,27), date(2025,11,2))

In [37]:
timesheet_data = pd.DataFrame(timesheet_data_in).sort_values(by=['arrivedOn'])
timesheet_data['arrivedOn'] = timesheet_data['arrivedOn'].dt.round('15min')
timesheet_data['doneOn'] = timesheet_data['doneOn'].dt.round('15min')
timesheet_data['arrivedDate'] = timesheet_data['arrivedOn'].dt.date
timesheet_data['arrivedTime'] = timesheet_data['arrivedOn'].dt.time
timesheet_data['doneTime'] = timesheet_data['doneOn'].dt.time
first_rows = timesheet_data.groupby('arrivedDate', as_index=False).first()[['arrivedDate', 'arrivedTime', 'jobId']]
last_rows = timesheet_data.groupby('arrivedDate', as_index=False).last()[['arrivedDate', 'doneTime', 'jobId']]
timesheet_data = pd.merge(first_rows, last_rows, on='arrivedDate')

In [39]:
timesheet_data

  arrivedDate arrivedTime    jobId_x  doneTime    jobId_y
0  2025-10-27    07:15:00  143368821  16:00:00  143436294
1  2025-10-29    07:30:00  143497002  15:30:00  143474725
2  2025-10-30    08:00:00  143636419  16:30:00  143619756
3  2025-10-31    07:45:00  143677748  17:00:00  143641622
4  2025-11-01    07:15:00  143653670  13:45:00  143708514

In [38]:
timesheet_data

  arrivedDate arrivedTime    jobId_x  doneTime    jobId_y
0  2025-10-27    07:15:00  143368821  16:00:00  143436294
1  2025-10-29    07:30:00  143497002  15:30:00  143474725
2  2025-10-30    08:00:00  143636419  16:30:00  143619756
3  2025-10-31    07:45:00  143677748  17:00:00  143641622
4  2025-11-01    07:15:00  143653670  13:45:00  143708514